# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo

# Distribution / packaging
.Python
env/
venv/
*/bin/activate
*/Scripts/activate
*.egg-info/
.installed.cfg
*.egg

# Editors
.vscode/
.idea/

# OS
.DS_Store
.env
